<!-- ********************** -->
<!--      C O N T E N T     -->
<!-- ********************** -->
<div id="content" class="container_12">

  <div class="clear"></div>

    <h2 class="s_title_1"><span class="s_main_color">Maiores</span> Descontos</h2>
    <div class="clear"></div>
  <div id="category" class="grid_9">
    <div class="s_listing s_grid_view clearfix">
            <%cont = 0%>
            <%@products.each do |product|%>
                  <div class="s_item grid_2">
                    <%=link_to product, :class => "s_thumb" do%>
                        <%=image_tag product.image.to_s%>
                    <%end%>
                    <h3>
                      <%=link_to product.name, product%>
                    </h3>
                    <p class="s_model">
                      <%=link_to product.company.name, product.company %>
                    </p>
                    <p class="s_currency s_old s_model">
                      De: <%=valor_formatado product.original_price%>
                    </p>
                    <p class="s_after">
                      Por: <%=valor_formatado product.price%>
                    </p>
                    <p class="s_price">
                      <span class="s_currency s_before"></span><%=percentagem_desconto product.original_price, product.price%>%</p>
                    <%=link_to line_items_path(:product_id => product),:method => :post, :class => "s_button_add_to_cart" do%>
                        <span class="s_icon_16"><span class="s_icon"></span>Adicionar ao carrinho</span>
                    <%end%>
                  </div>
                  <%cont = cont + 1%>
                  <%if cont == 4%>
                      <div class="clear"></div>
                        <%cont = 0%>
                  <%end%>
          <%end%>
      <div class="clear"></div>
    </div>

  <div id="latest_home" class="s_grid_view">
    <h2 class="s_title_1"><span class="s_main_color">Mais</span> Vendidos</h2>
    <div class="clear"></div>
    <div class="s_listing s_grid_view clearfix">
      <%@products.each do |product|%>
          <div class="s_item grid_2"> <a class="s_thumb" href="product.html"><%=image_tag product.image.to_s%></a>
            <h3>
              <%=link_to product.name, product%>
            </h3>
            <p class="s_model">
              <%=link_to product.company.name, product.company %>
            </p>
            <p class="s_price">
              <span class="s_currency s_before">R$</span><%=product.price%></p>
            <%=link_to line_items_path(:product_id => product),:method => :post, :class => "s_button_add_to_cart" do%>
                <span class="s_icon_16"><span class="s_icon"></span>Adicionar ao carrinho</span>
            <%end%>
          </div>
      <%end%>
      <div class="clear"></div>
    </div>
  </div>
  </div>
<div id="bestseller_side" class="s_box grid_3">
        <h2>Últimos Anunciados</h2>
        <div class="s_item s_size_1 clearfix">
          <a class="s_thumb" href="product.html"><img src="images/dummy/pic_10.jpg" width="38" height="38" alt="iPhone 3GS 8GB"></a>
          <h3><a href="product.html">iPhone 3GS 8GB</a></h3>
          <p><a href="product.html"><span class="s_main_color"><span class="s_currency s_before">£</span>587.50</span></a></p>
        </div>

        <div class="s_item s_size_1 clearfix">
          <a class="s_thumb" href="product.html"><img src="images/dummy/pic_9.jpg" width="38" height="38" alt="Hubo Boss Emotion"></a>
          <h3><a href="product.html">Hubo Boss Emotion</a></h3>
          <p><a href="product.html"><span class="s_main_color"><span class="s_currency s_before">£</span>2,350.00</span></a></p>
        </div>

        <div class="s_item s_size_1 clearfix">
          <a class="s_thumb" href="product.html"><img src="images/dummy/pic_8.jpg" width="38" height="38" alt="Panasonic Lumix"></a>
          <h3><a href="product.html">Panasonic Lumix</a></h3>
          <p><a href="product.html"><span class="s_main_color"><span class="s_currency s_before">£</span>94.00</span></a></p>
        </div>

        <div class="s_item s_size_1 clearfix">
          <a class="s_thumb" href="product.html"><img src="images/dummy/pic_7.jpg" width="38" height="38" alt="Casio Exilim Zoom"></a>
          <h3><a href="product.html">Casio Exilim Zoom</a></h3>
          <p><a href="product.html"><span class="s_main_color"><span class="s_currency s_before">£</span>117.50</span></a></p>
        </div>

        <div class="s_item s_size_1 clearfix">
          <a class="s_thumb" href="product.html"><img src="images/dummy/pic_6.jpg" width="38" height="38" alt="Christian Dior Amber Woman"></a>
          <h3><a href="product.html">Christian Dior Amber Woman</a></h3>
          <p><a href="product.html"><span class="s_main_color"><span class="s_currency s_before">£</span>328.99</span></a></p>
        </div>

        <div class="s_item s_size_1 clearfix">
          <a class="s_thumb" href="product.html"><img src="images/dummy/pic_5.jpg" width="38" height="38" alt="iPod Classic"></a>
          <h3><a href="product.html">iPod Classic</a></h3>
          <p><a href="product.html"><span class="s_main_color"><span class="s_currency s_before">£</span>117.50</span></a></p>
        </div>

        <div class="s_item s_size_1 clearfix">
          <a class="s_thumb" href="product.html"><img src="images/dummy/pic_4.jpg" width="38" height="38" alt="Sony VAIO"></a>
          <h3><a href="product.html">Sony VAIO</a></h3>
          <p><a href="product.html"><span class="s_old"><span class="s_currency s_before">£</span>1,175.00</span> <span class="s_secondary_color"><span class="s_currency s_before">£</span>1,057.50</span></a></p>
          <div class="s_rating_holder clearfix"><p class="s_rating s_rating_small s_rating_5 left"><span style="width: 100%;" class="s_percent"></span></p><span class="left">&nbsp;5/5</span></div>
        </div>

        <div class="s_item s_size_1 clearfix">
          <a class="s_thumb" href="product.html"><img src="images/dummy/pic_3.jpg" width="38" height="38" alt="Canon Digital Ixus 200 IS"></a>
          <h3><a href="product.html">Canon Digital Ixus 200 IS</a></h3>
          <p><a href="product.html"><span class="s_main_color"><span class="s_currency s_before">£</span>117.50</span></a></p>
        </div>

        <div class="s_item s_size_1 clearfix">
          <a class="s_thumb" href="product.html"><img src="images/dummy/pic_2.jpg" width="38" height="38" alt="Hugo Boss Chrome"></a>
          <h3><a href="product.html">Hugo Boss Chrome</a></h3>
          <p><a href="product.html"><span class="s_main_color"><span class="s_currency s_before">£</span>94.00</span></a></p>
        </div>

        <div class="s_item s_size_1 clearfix">
          <a class="s_thumb" href="product.html"><img src="images/dummy/pic_1.jpg" width="38" height="38" alt="Hennesy Paradis Extra"></a>
          <h3><a href="product.html">Hennesy Paradis Extra</a></h3>
          <p><a href="product.html"><span class="s_old"><span class="s_currency s_before">£</span>1,175.00</span> <span class="s_secondary_color"><span class="s_currency s_before">£</span>1,057.50</span></a></p>
        </div>

        <div class="s_item s_size_1 clearfix">
          <a class="s_thumb" href="product.html"><img src="images/dummy/pic_10.jpg" width="38" height="38" alt="Elizabeth Arden Pretty"></a>
          <h3><a href="product.html">Elizabeth Arden Pretty</a></h3>
          <p><a href="product.html"><span class="s_main_color"><span class="s_currency s_before">£</span>94.00</span></a></p>
        </div>

        <div class="s_item s_size_1 clearfix">
          <a class="s_thumb" href="product.html"><img src="images/dummy/pic_9.jpg" width="38" height="38" alt="Sony Cyber Shot S1000"></a>
          <h3><a href="product.html">Sony Cyber Shot S1000</a></h3>
          <p><a href="product.html"><span class="s_main_color"><span class="s_currency s_before">£</span>117.50</span></a></p>
        </div>
      </div>


</div>

<!-- end of content -->
