<div class="s_row_2 clearfix">
  <label>
    <strong>
      <%= builder.label :zipcode %>
    </strong>
  </label>
  <%= builder.text_field :zipcode, :id => "zipcode_field" %>
</div>


<div class="s_row_2 clearfix">
  <label>
    <strong>
      <%= builder.label :address %>
    </strong>
  </label>
  <%= builder.text_field :address, :id => "address_field" %>
</div>
<div class="s_row_2 clearfix">
  <label>
    <strong>
      <%= builder.label :number %>
    </strong>
  </label>
  <%= builder.text_field :number, :id => "number_field" %>
</div>
<div class="s_row_2 clearfix">
  <label>
    <strong>
      <%= builder.label :complement %>
    </strong>
  </label>
  <%= builder.text_field :complement, :id => "complement_field" %>
</div>

<div class="s_row_2 clearfix">
  <label>
    <strong>
      <%= builder.label :bairro %>
    </strong>
  </label>
  <%= builder.text_field :bairro, :id => "bairro_field" %>
</div>

<div class="s_row_2 clearfix">
  <label>
    <strong>
      <%= builder.label :city %>
    </strong>
  </label>
  <%= builder.text_field :city, :id => "city_field" %>
</div>

<div class="s_row_2 clearfix">
  <label>
    <strong>
      <%= builder.label :state %>
    </strong>
  </label>
  <%= builder.text_field :state, :id => "state_field" %>
</div>
