<div id="intro">
  <div id="intro_wrap">
    <div class="container_12">
      <div id="breadcrumbs" class="grid_12">
        Você está em:
      </div>
      <h1>Checkout</h1>
    </div>
  </div>
</div>

<div id="content" class="container_12">

  <div id="checkout" class="grid_12">
    <form id="checkout_form" class="s_accordion ui-accordion ui-widget ui-helper-reset ui-accordion-icons" action="orders.html" role="tablist">
      <h2 class="ui-accordion-header ui-helper-reset ui-state-focus ui-state-active ui-corner-top" role="tab" aria-expanded="true" aria-selected="true" tabindex="0"><span class="ui-icon ui-icon-triangle-1-s"></span>
        Endereço de Entrega
      </h2>
      <div class="ui-accordion-content ui-helper-reset ui-widget-content ui-corner-bottom ui-accordion-content-active" role="tabpanel" style="padding-top: 24px; padding-bottom: 10px; display: block; overflow-x: visible; overflow-y: visible; ">
        <p>Endereço de entrega a ser usado para este pedido.</p>
        <div class="s_row_3 clearfix">
          <label class="s_radio s_shipping_method clearfix" for="citylink.citylink">
            <input type="radio" id="citylink.citylink" checked="checked">
              <span class="s_desc">
                <strong>
                  <%=@order.address.city%> - <%=@order.address.state%>
                </strong>
                <br>
                <%=@order.address.address%>
                <span class="s_currency s_after">
                  , <%=@order.address.bairro%>
                </span>
              </span>
          </label>
        </div>
        <%=link_to new_order_path(:step=>"shipping"), :class => "s_button_1 s_ddd_bgr left" do%>
              <span class="s_text">
                Usar Outro Endereço
              </span>
        <%end%>
        <div class="clear"></div>
      </div>
      <h2 class="ui-accordion-header ui-helper-reset ui-state-active ui-corner-top" role="tab" aria-expanded="true" aria-selected="true" tabindex="0">
        <span class="ui-icon ui-icon-triangle-1-s"></span>Resumo de sua compra</h2>
      <div id="shopping_cart" class="grid_12">

        <table class="s_table_1" width="100%" cellpadding="0" cellspacing="0" border="0">
          <tbody><tr>
            <th width="60">Produto</th>
            <th width="320">Nome</th>
            <th>Empresa</th>
            <th>Quantidade</th>
            <th>Preço Unitário</th>
            <th>Total</th>
          </tr>
          <%if current_cart.line_items.size > 0%>

              <%current_cart.line_items.each do |item|%>

                  <tr class="even">
                    <td valign="middle">
                      <%=link_to item.product do%>
                          <%=image_tag item.product.image_url(:thumb).to_s, :width => 60, :height => 60, :alt => item.product.name%>
                      <%end%>
                    </td>
                    <td valign="middle">
                      <%=link_to item.product do%>
                          <strong><%=item.product.name%></strong>
                      <%end%>
                    </td>
                    <td valign="middle">
                      <%=link_to item.product.company.name, item.product.company%>
                    </td>
                    <td valign="middle">
                      <%= item.quantity %>
                    </td>
                    <td valign="middle"><%=valor_formatado item.product.price%></td>
                    <td valign="middle"><%=valor_formatado item.total_price%></td>
                  </tr>
              <%end%>
          <%else%>
              <tr class="even">
                Nenhum item no carrinho
              </tr>
          <%end%>

          </tbody></table>
        <br>
        <p class="s_total"><strong>Frete:</strong> Grátis </p>
        <p class="s_total s_secondary_color last"><strong>Total:</strong> <%=valor_formatado current_cart.total_price%></p>

        <div class="clear"></div>
        <br>
        <%=link_to root_url, :class => "s_button_1 s_ddd_bgr left" do%>
              <span class="s_text">
                Continuar Comprando
              </span>
        <%end%>
        <%=link_to current_cart, :class => "s_button_1 s_main_color_bgr" do%>
              <span class="s_text">
                Alterar
              </span>
        <%end%>

      </div>
    </form>
  </div>

</div>
<div class="clear"></div>

<%= button_to "Efetuar Pagamento", orders_path %>

<%=button_to "Pagar pelo Moip", moip_checkout_path%>