<div id="content" class="container_16">



  <div id="contacts" class="s_info_page grid_16">

    <h2><span class="s_secondary_color">Escolha</span> seu endereço de entrega</h2>


    <%current_user.addresses.each do |address|%>
        <p class="alpha grid_6">
          <strong>
            <%=address.city%>, <%=address.state%>
          </strong>
          <br>
          <%=address.address %><br>
          <%=address.number%> - <%=address.complement%><br>
          <%=address.bairro%></p>

        <p class="grid_5">

          <%=link_to new_order_path(:shipping_address_id => address.id), :class => "s_button_1 s_main_color_bgr" do %>
              <span class="s_text">Usar este endereço</span>
          <%end%>
        </p>

        <span class="clear border_ddd"></span>
    <%end%>

    <h2>
      <span class="s_secondary_color">
        Cadastrar
      </span>
        um novo endereço
    </h2>
    <%address = current_user.addresses.build%>
    <%=form_for address do |f|%>
        <%=render "users/address", :builder => f%>
        <div class="clear"></div>
          <span class="s_button_1 s_main_color_bgr">
            <%= f.submit 'Cadastrar Endereço', :class => "button_like_link" %>
          </span>

    <% end %>

  </div>
</div>