<div id="content" class="container_12">

  <div id="order_history" class="grid_12">

    <div class="s_listing s_grid_view clearfix">
      <%for order in @orders%>
          <div class="grid_4">
            <div class="s_order clearfix">
              <p class="s_id"><span class="s_999">Pedido:</span> <span class="s_main_color">#<%=order.id%></span></p>

              <p class="s_status s_secondary_color"><%=order.status%></p>
              <span class="clear"></span>
              <dl class="clearfix">
                <dt>Data do Pedido:</dt><dd><%=order.created_at.strftime("%d/%m/%Y")%></dd>
                <dt>Empresa:</dt> <dd><%=order.company.name%></dd>
              </dl>
              <span class="clear border_eee"></span>
              <br>
              <p class="s_total left"><%=valor_formatado order.total%></p>

              <%=link_to order, :class => "s_main_color right" do%>
                <strong>
                  Detalhes
                </strong>
              <%end%>
            </div>
          </div>
      <%end%>
      <a href="invoice.html" class="s_button_1 s_main_color_bgr"><span class="s_text">Continue</span></a>

      <div class="clear"></div>
      <br>

      <br>

    </div>

  </div>