  <div class="s_row_2 clearfix">
    <%= f.hidden_field :customer_id %>
  </div>
  <div class="s_row_2 clearfix">
    <strong><%= f.label :CEP %></strong><br />
    <%= f.text_field :zipcode , :id => "zipcode_field" %>
  </div>
  <div class="s_row_2 clearfix">
    <strong><%= f.label :Endereço %></strong><br />
    <%= f.text_field :address, :id => "address_field"  %>
  </div>
  <div class="s_row_2 clearfix">
    <strong><%= f.label :Numero %></strong><br />
    <%= f.text_field :number, :id => "number_field" %>
  </div>
  <div class="s_row_2 clearfix">
    <strong><%= f.label :Complemento %></strong><br />
    <%= f.text_field :complement, :id => "complement_field" %>
  </div>
  <div class="s_row_2 clearfix">
    <strong><%= f.label :Bairro %></strong><br />
    <%= f.text_field :bairro, :id => "bairro_field"  %>
  </div>
  <div class="s_row_2 clearfix">
    <strong><%= f.label :Cidade %></strong><br />
    <%= f.text_field :city, :id => "city_field" %>
  </div>
  <div class="s_row_2 clearfix">
    <strong><%= f.label :Estado %></strong><br />
    <%= f.text_field :state, :id => "state_field" %>
  </div>
  <div class="s_row_2 clearfix">
    <strong><%= f.label :Telefone %></strong><br />
    <%= f.text_field :phone %>
  </div>
  <div class="s_row_2 clearfix">
    <strong><%= f.label :Celular %></strong><br />
    <%= f.text_field :cel_phone %>
  </div>
 
