<%= form_for(@company) do |f| %>
  <% if @company.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@company.errors.count, "error") %> prohibited this company from being saved:</h2>

      <ul>
      <% @company.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div id="form_companies">
<div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
<div class="field">
    <%= f.label :razao_social %><br />
    <%= f.text_field :razao_social %>
  </div>
<div class="field">
    <%= f.label "CNPJ:" %><br />
    <%= f.text_field :document %>
  </div>
<div class="field">
    <%= f.label "Área de Atuação" %><br />
    <%= f.text_field :area %>
  </div>
<div class="field">
    <%= f.label :telephone %><br />
    <%= f.text_field :telephone %>
  </div>
<div class="field">
    <%= f.label :celphone %><br />
    <%= f.text_field :celphone %>
  </div>
<p><%= f.label :email %><br />
  <%= f.text_field :email %></p>

  <p><%= f.label :password %><br />
  <%= f.password_field :password %></p>

  <p><%= f.label :password_confirmation %><br />
  <%= f.password_field :password_confirmation %></p>
</div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
