<div id="content" class="container_16">

  <div class="grid_16">

    <%= form_for((@company),:html => { :multipart => true }) do |f| %>
        <% if @company.errors.any? %>
            <div id="error_explanation">
              <h2><%= pluralize(@company.errors.count, "error") %> prohibited this company from being saved:</h2>

              <ul>
                <% @company.errors.full_messages.each do |msg| %>
                    <li><%= msg %></li>
                <% end %>
              </ul>
            </div>
        <% end %>

        <h2 class="s_title_1"><span class="s_secondary_color">Cadastro</span> de Empresa</h2>
        <div class="clear"></div>

        <div class="s_row_2 clearfix">
          <label class="required">
            <strong>
              Nome fantasia
            </strong>
          </label>
          <%= f.text_field :name %>
        </div>

        <div class="s_row_2 clearfix">
          <label class="required">
            <strong>
              Razão Social
            </strong>
          </label>
          <%= f.text_field :razao_social %>
        </div>

        <div class="s_row_2 clearfix">
          <label class="required">
            <strong>
              CNPJ
            </strong>
          </label>
          <%= f.text_field :document %>
        </div>

        <div class="s_row_2 clearfix">
          <label class="required">
            <strong>
              Area
            </strong>
          </label>
          <%= f.text_field :area %>
        </div>


        <div class="s_row_2 clearfix">
          <label class="required">
            <strong>
              Logotipo
            </strong>
          </label>
          <%= f.file_field :image %>
        </div>

        <div class="s_row_2 clearfix">
          <label class="required">
            <strong>
              Telefone Fixo
            </strong>
          </label>
          <%= f.text_field :telephone %>
        </div>

        <div class="s_row_2 clearfix">
          <label class="required">
            <strong>
              Email
            </strong>
          </label>
          <%= f.text_field :email %>
        </div>

        <div class="s_row_2 clearfix">
          <strong>Endereços: </strong>
          <% f.fields_for :addresses do |builder| %>
            <%= render 'address', :f => builder%>
          <%end%>  
        </div>
        <!--<%=link_to "Adicione mais um endereço.", "#", :id => "add_a_other_company_address"%>-->


        <div class="s_row_2 clearfix">
          <label class="required">
            <strong>
              Senha
            </strong>
          </label>
          <%= f.password_field :password %>
        </div>

        <div class="s_row_2 clearfix">
          <label class="required">
            <strong>
              Repita sua Senha
            </strong>
          </label>
          <%= f.password_field :password_confirmation %>
        </div>

        <span class="s_button_1 s_main_color_bgr">
             <%=f.submit "Cadastrar", :class => "button_like_link"%>
          </span>

        <br>
        <br>

        </div>

        </div>


    <% end %>
