<p id="notice"><%= notice %></p>

<h2> My Cart</h2>

<ul>
  <%@cart.line_items.each do |item|%>
    <li><%= item.quantity %> &times; <%=item.product.name%> | <%=item.total_price%></li>
  <%end%>
</ul>

Total: <%=@cart.total_price%>

<%= link_to 'Edit', edit_cart_path(@cart) %> |
<%= link_to 'Continuar Comprando', root_url %>
<%= button_to 'Empty cart', @cart, :method => :delete,
:confirm => 'Are you sure?' %>
<%= button_to "Checkout" , new_order_path, :method => :get%>
