<p id="notice"><%= notice %></p>

<h2> My Cart</h2>
<%=form_for(@cart) do |f|%>
<ul>
  <%=f.fields_for :line_items do |builder|%>
  <%item = builder.object%>
      <li><%= builder.text_field :quantity, :size => 1 %> &times; <%=item.product.name%> | <%=item.total_price%></li>
  <%end%>
</ul>
<%=f.submit "Atualizar quantidade"%>
<%end%>

Total: <%=@cart.total_price%>

<%= link_to 'Edit', edit_cart_path(@cart) %> |
<%= link_to 'Continuar Comprando', root_url %>
<%= button_to 'Empty cart', @cart, :method => :delete,
:confirm => 'Are you sure?' %>
<%= button_to "Checkout" , new_order_path, :method => :get%>
