<h1>Listing products</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Short description</th>
    <th>Description</th>
    <th>Available on</th>
    <th>Deleted at</th>
    <th>Category</th>
    <th>Company</th>
    <th>Shippable</th>
    <th>Stock</th>
    <th>Price</th>
    <th>Original Price</th>
    <th></th>
  </tr>

<% @products.each do |product| %>
  <tr>
    <td><%= product.name %></td>
    <td><%= product.short_description %></td>
    <td><%= product.description %></td>
    <td><%= product.available_on %></td>
    <td><%= product.deleted_at %></td>
    <td><%= product.category_id %></td>
    <td><%= product.company.name unless product.company.nil? %></td>
    <td><%= product.shippable %></td>
    <td><%= product.stock %></td>
    <td><%= valor_formatado(product.price) %></td>
    <td><%= valor_formatado(product.original_price) %></td>
    <td><%= link_to 'Show', [:admin,product] %></td>
    <td><%= link_to 'Edit', edit_admin_product_path(product) %></td>
    <td><%= link_to 'Destroy', [:admin,product], :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Product', new_admin_product_path %>
