<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @product.name %>
</p>

<p>
  <b>Short description:</b>
  <%= @product.short_description %>
</p>

<p>
  <b>Description:</b>
  <%= @product.description %>
</p>

<p>
  <b>Available on:</b>
  <%= @product.available_on %>
</p>

<p>
  <b>Deleted at:</b>
  <%= @product.deleted_at %>
</p>

<p>
  <b>Category:</b>
  <%= @product.category_id %>
</p>

<p>
  <b>Company:</b>
  <%= @product.company_id %>
</p>

<p>
  <b>Shippable:</b>
  <%= @product.shippable %>
</p>

<p>
  <b>Stock:</b>
  <%= @product.stock %>
</p>


<%= link_to 'Edit', edit_admin_product_path(@product) %> |
<%= link_to 'Back', admin_products_path %>
