<!DOCTYPE html>
<html>
<head>
  <title>Buycheap</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag "jquery.min", :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>
  <div id="logged">
    <%if current_user%>
      <%="Bem vindo #{current_user.email}"%> | <%=link_to "Sair", destroy_user_session_path %>
      <%=link_to "Meus Pedidos", big_orders_path%>
    <%else%>
      <%=link_to "Login", new_user_session_path%>
    <%end%>
  </div>
  <div id="messages">
    <%=flash[:alert]%>
    <%=flash[:notice]%>
  </div>

<%= yield %>

</body>
</html>
