<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>Your Store</title>
  <meta name="description" content="My Store" />

  <%=stylesheet_link_tag "application"%>

  <%=javascript_include_tag "application"%>

  <%= csrf_meta_tag %>

</head>

<body>

<div id="wrapper">

<!-- ********************** -->
<!--      H E A D E R       -->
<!-- ********************** -->
<div id="header" class="container_12">
  <div class="grid_12">
    <!--
    <a id="site_logo" href="index.html">Shoppica store - Premium e-Commerce Theme</a>
    -->
    <div id="cart_menu" class="s_nav">
      <%=link_to current_cart do%>
        <span class="s_icon">
        </span>
          <small class="s_text">
            Carrinho
          </small>
        <span class="s_grand_total s_main_color">
          <%=valor_formatado current_cart.total_price%>
        </span>
      <%end%>
      <%=render "/dashboard/cart_mini"%>
    </div>
    <div id="system_navigation" class="s_nav">
      <ul class="s_list_1 clearfix">
        <li><%=link_to "Início", root_url%></li>
        <li><%=link_to "Empresas", companies_url%></li>
        <%if current_user%>
            <li><%=link_to "Following", root_url%></li>
            <li><%=link_to "Meus Pedidos", orders_url%></li>
            <li><%=link_to "Sair", log_out_path%></li>
        <%else%>
            <li><%=link_to "Login", log_in_path%></li>
        <%end%>
      </ul>
    </div>


    <%=render "/dashboard/categories"%>


  </div>
</div>
<!-- end of header -->
<%=render "/utils/flash_messages"%>
<%=yield%>
<!-- ********************** -->
<!--   S H O P   I N F O    -->
<!-- ********************** -->
<div id="shop_info">
  <div id="shop_info_wrap">
    <div class="container_12">
      <div id="shop_description" class="grid_3">
        <h2>Shoppica Theme</h2>
        <p>Pellentesque a arcu ut nisi semper cursus. Nullam vehicula dapibus ultrices. Integer nunc risus, fringilla ut hendrerit a, dapibus vestibulum ante. In ullamcorper erat et orci mattis rutrum et a enim. Curabitur semper, erat sit amet condimentum volutpat, enim nisi auctor augue, id fringilla est dui non lectus. Cras in urna ante, sit amet dignissim orci. Proin nibh urna, consectetur vitae placerat luctus.</p>
      </div>
      <div id="shop_contacts" class="grid_3">
        <h2>Contact Us</h2>
        <table width="100%" cellpadding="0" cellspacing="0" border="0">
          <tr>
            <td valign="middle"><span class="s_icon_32"><span class="s_icon s_phone_32"></span>5234452 <br /></span></td>
          </tr>
          <tr>
            <td valign="middle"><span class="s_icon_32"><span class="s_icon s_fax_32"></span>5234452 <br /></span></td>
          </tr>
          <tr>
            <td valign="middle"><span class="s_icon_32"><span class="s_icon s_mail_32"></span>pinko@example.com <br /> pinko@example.com</span></td>
          </tr>
          <tr>
            <td valign="middle"><span class="s_icon_32"><span class="s_icon s_skype_32"></span>my_skype <br /> </span></td>
          </tr>
        </table>
      </div>
      <div id="twitter" class="grid_3">
        <h2>Twitter</h2>
        <ul id="twitter_update_list"><li></li></ul>
        <script type="text/javascript" src="http://twitter.com/javascripts/blogger.js"></script>
        <script type="text/javascript" src="http://twitter.com/statuses/user_timeline/themeburn.json?callback=twitterCallback2&amp;count=2"></script>
      </div>
      <div id="facebook" class="grid_3">
        <h2>Facebook</h2>
        <div class="s_widget_holder">
          <fb:fan profileid="111188056908" stream="0" connections="6" logobar="0" width="220" css="http://svest.no-ip.org/test/opencart/catalog/view/theme/shoppica/stylesheet/facebook.css.php?300"></fb:fan>
        </div>
      </div>
      <div class="clear"></div>
    </div>
  </div>
</div>
<!-- end of shop info -->



<!-- ********************** -->
<!--      F O O T E R       -->
<!-- ********************** -->
<div id="footer" class="container_12">
  <div id="footer_categories" class="clearfix">
    <div class="grid_2">
      <h2>Electronics</h2>
      <ul class="s_list_1">
        <li><a href="">Digital Cameras</a></li>
        <li><a href="">Home Audio</a></li>
        <li><a href="">Home Cinema</a></li>
        <li><a href="">Cell Phones</a></li>
        <li><a href="">MP3 Players</a></li>
        <li><a href="">Car-Audio</a></li>
      </ul>
    </div>
    <div class="grid_2">
      <h2>Computers</h2>
      <ul class="s_list_1">
        <li><a href="">Desktops</a></li>
        <li><a href="">Laptops</a></li>
        <li><a href="">Monitors</a></li>
        <li><a href="">Components</a></li>
        <li><a href="">Software</a></li>
      </ul>
    </div>
    <div class="grid_2">
      <h2>Clothing</h2>
      <ul class="s_list_1">
        <li><a href="">Women's Clothing</a></li>
        <li><a href="">Men's Clothing</a></li>
        <li><a href="">Boys</a></li>
        <li><a href="">Girls</a></li>
        <li><a href="">Infants and toddlers</a></li>
      </ul>
    </div>
    <div class="grid_2">
      <h2>Shoes</h2>
      <ul class="s_list_1">
        <li><a href="">Women's Shoes</a></li>
        <li><a href="">Men's Shoes</a></li>
        <li><a href="">Kids' Shoes</a></li>
        <li><a href="">Sportswear</a></li>
      </ul>
    </div>
    <div class="grid_2">
      <h2>Gifts</h2>
      <ul class="s_list_1">
        <li><a href="">Perfumes</a></li>
        <li><a href="">Spirits and Beers</a></li>
        <li><a href="">Wines</a></li>
        <li><a href="">Flowers</a></li>
        <li><a href="">Chocolates and sweets</a></li>
        <li><a href="">Toys and Games</a></li>
      </ul>
    </div>
    <div class="grid_2">
      <h2>At home</h2>
      <ul class="s_list_1">
        <li><a href="">Furniture</a></li>
        <li><a href="">Garden</a></li>
        <li><a href="">Appliances</a></li>
        <li><a href="">Pet Supplies</a></li>
        <li><a href="">Tools and Accessories</a></li>
        <li><a href="">Lighting</a></li>
      </ul>
    </div>
    <div class="clear"></div>
    <div class="grid_12 border_eee"></div>
  </div>
  <div id="payments" class="right clearfix">
    <img src="/assets/payments/discover_straight_32px.png" alt="" />
    <img src="/assets/payments/american_express_straight_32px.png" alt="" />
    <img src="/assets/payments/moneybookers_straight_32px.png" alt="" />
    <img src="/assets/payments/paypal_straight_32px.png" alt="" />
    <img src="/assets/payments/visa_straight_32px.png" alt="" />
    <img src="/assets/payments/american_express_straight_32px.png" alt="" />
  </div>
  <p id="copy">&copy; Copyright 2011. Powered by <a class="blue" href="">Open Cart</a>.<br /> <a class="s_main_color" href="http://www.shoppica.net">Shoppica theme</a> made by <a href="http://www.themeburn.com">ThemeBurn.com</a></p>
</div>
<!-- end of FOOTER -->

</div>
</body>
</html>